#homepage {
	background-color: $brand-primary;

    .container-fluid {
        padding-bottom: 40px;
    }

	.logos {
		padding: 0 10px;
	}
	.login-options {
		text-align: center;
	}
	.spacer {
		margin: 8px 0;
		color: #fff;
		font-size: 26px;
		font-weight: 500;
	}
	.slogan {
		color: #fff;
		font-size: 22px;
		margin-top: 20px;

		img {
			max-width: 220px;
		    margin: 0 auto;
		}
	}
	.submit {
		margin-bottom: 30px;
		text-align: center;
	}
}
