.profile-view-page {
	min-height: 100%;
	background-size: cover;
	background-position: center;
	background-image: url(/dist/images/profile_bg.jpg);
	color: #fff;

	.row {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px;
		padding-bottom: 5px;
		text-shadow: 2px 1px rgba(0,0,0,0.5);
	}
	.user-info {
		.fa-map-marker {
			margin-right: 15px;
			color: #e94b36;
		}
	}
	.loan-info {
		.space {
			margin: 0 15px;
		}
		.bigger {
			font-size: 74px;
		}
	}

	.endorser {
		position: relative;
		float: left;
		width: 63px;
		height: 117px;
		background-image: url(/dist/images/Man.png);
		background-repeat: no-repeat;
		background-size: contain;

		.img-container {
			position: absolute;
			top: 50%;
			left: 50%;
			padding: 5px;
			border-top-right-radius: 50%;
			border-top-left-radius: 10%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
			background-color: orange;
			z-index: 10;
			opacity: 0;
			transition: 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
			pointer-events: none;
			width: 170px;
			height: 170px;

			&.is-visible {
				opacity: 1;
			}
		}
	}
	
	@media (min-width: 768px) {
		.inline-centered {
			display: inline-block;
			vertical-align: middle;
			float: none;

			&.bordered {
				border-left: 1px solid #fff;
			}
		}
	}
}

.profile-list-page {
	color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url('/dist/images/header.jpg');
	min-height: 100%;

	h1.shadow {
		text-shadow: 2px 1px rgba(0,0,0,0.5);
	}
	.row {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.screen {
		background: rgba(0,0,0,0.4);
	}
	.person-profile {
		text-align: center;
		cursor: pointer;
		border-right: 1px solid #fff;

		&:last-child {
			border-right: none;
		}
		.img-container {
			background-image: url(/dist/images/lemon_fill.png);
			background-repeat: no-repeat;
			background-size: contain;
			max-width: 160px;
    		padding: 10px;
    		margin-left: auto;
    		margin-right: auto;

			img {
				max-width: 145px;
				max-height: 145px;
			}
		}
		.num {
			font-size: 50px;
			margin-top: 0;
			margin-bottom: 0;
		}
		.fa-map-marker {
			margin-right: 10px;
			color: #e94b36;
			font-size: 24px;
		}
		h1:not(.num) {
			margin-top: 0;
			margin-bottom: 10px;
		}
		h4 {
			margin-top: 15px;
			margin-bottom: 0;
		}
	}
}