#signup-container {
	max-width: 600px;
	margin: 0 auto;

	.step-container {
		position: relative;
		overflow: hidden;
		min-height: 230px;
	
		.templates-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		.ng-enter {
			transition: 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
		}
		.ng-leave {
			transition: 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
		}
		.ng-enter {
			left: 100%;
		}
		.ng-enter.ng-enter-active {
			left: 0%;
		}
		.ng-leave {
			left: 0%;
		}
		.ng-leave.ng-leave-active {
			left: -100%;
		}
	}
	
	.steps-nav {
		margin-bottom: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			padding: 10px;
		}
		.current-step {
			color: red;
		}
	}
}

.sign-up-page {
	
	.header {
		margin-bottom: 30px;
	}
	.jug-cont {
		min-height: 260px;
	}
	.jug {
		border-radius: 50%;
		border: 5px solid;
		width: 160px;
		height: 160px;
		margin: 0 auto;
		text-align: center;
		cursor: default;
		transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) all;

		span {
			font-size: 50px;
			line-height: 160px;
			transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
		}
		&.yellow {
			border-color: yellow;
		}
		&.green {
			border-color: green;
		}
		&:hover {
			width: 180px;
			height: 180px;

			span {
				line-height: 180px;
				font-size: 56px;
			}
		}
	}
}

