$brand-primary: rgb(231, 35, 0);

html {
	font-size: 16px;
    height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	min-height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

h1, h2, h3, h4 {
	font-weight: 700;
	margin: 0 0 20px 0;
}

#main-wrapper {
	overflow: hidden;
    min-height: 100%;
    padding-bottom: 40px;
}

.container-fluid {
	max-width: 1350px;
}

.nav {
	.menu {
		margin-bottom: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			padding: 5px;
			margin-right: 10px;
		}
	}
}

button {
	-webkit-appearance: none;
}

.round-btn {
	display: inline-block;
	border-radius: 6px;
	background: #efefef;
	border: none;
	text-align: center;
	min-width: 260px;
	color: #333;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	padding: 0 10px;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	
	&:hover,
	&:visited {
		text-decoration: none;
		color: #333;
	}
	&.facebook {
		background: rgb(45, 69, 136);
		color: #fff;
	}
	&.small {
		height: 38px;
		line-height: 38px;
		font-size: 16px;
		min-width: 180px;
	}
}

input[type="text"],
input[type="num"],
input[type="password"],
input[type="email"] {
	background-color: white;
	border: none;
	padding: 20px 10px;
	width: 100%;
	outline: none;
}

form.bottom-bordered {
	border-radius: 6px;
    overflow: hidden;
    margin: 30px 0;

	fieldset:not(:last-child) {
		border-bottom: 1px solid #333;
	}
	&.bordered {
		border: 1px solid #333;
	}
}

.nav {
	background: #efefef;
	margin-bottom: 30px;

	img {
		margin: 10px auto;
		max-width: 344px;
	}
}

.tac {
	text-align: center;
}

.graybar {
	background: #efefef;
	text-align: center;

	h3 {
		margin: 10px 0;
		font-style: italic;
	}
}

[ng-click] {
	cursor: pointer;
}

@import "_home.scss";
@import "_login.scss";
@import "_signup.scss";
