html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    padding-top: 51px;
}

hr {
    border-color: #f1c40f;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #f1c40f;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: #f1c40f;
}

.bg-dark {
    background-color: #222222;
    color: white;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: #f1c40f;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: #f1c40f;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: #f1c40f !important;
    background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-default {
        //background-color: transparent;
        border-color: rgba(255, 255, 255, 0.3);
        background-color: rgb(241, 196, 15);
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: white;
    }

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7);
    }

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: white;
    }

    .navbar-default.affix {
        background-color: white;
        border-color: rgba(34, 34, 34, 0.05);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        color: #f1c40f;
        font-size: 14px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
        color: #222222;
    }

    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        color: #f1c40f;
    }
}

#ng-view {
    height: 100%;
}

#about {
    height: 8em;
    margin-bottom: -8em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.round-btn {
	display: inline-block;
	border-radius: 6px;
	background: #efefef;
	border: none;
	text-align: center;
	min-width: 260px;
	color: #333;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	padding: 0 10px;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	
	&:hover,
	&:visited {
		text-decoration: none;
		color: #333;
	}
	&.facebook {
		background: rgb(45, 69, 136);
		color: #fff;
	}
	&.small {
		height: 38px;
		line-height: 38px;
		font-size: 16px;
		min-width: 180px;
	}
}

input[type="text"],
input[type="num"],
input[type="password"],
input[type="email"] {
	background-color: white;
	border: none;
	padding: 20px 10px;
	width: 100%;
	outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 160px; 
    height: 20px; 
    margin: 10px 50px; 
    background: linear-gradient(to right, #16a085 0%, #16a085 100%);
    background-size: 150px 10px; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden; 
    outline: none; 
    zoom: 130%; 
    display: block; 
    margin: auto; 
    margin-bottom: 30px; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 20px; 
    height: 20px; 
    background: #27ae60;
    position: relative; 
    z-index: 3; 
}

input[type="range"]::-webkit-slider-thumb:after {
    content: " "; 
    width: 160px; 
    height: 10px; 
    position: absolute; 
    z-index: 1; 
    right: 20px; 
    top: 5px; 
    background: #2ecc71; 
}

form.bottom-bordered {
	border-radius: 6px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;

	fieldset:not(:last-child) {
		border-bottom: 1px solid #333;
	}
	&.bordered {
		border: 1px solid #333;
	}
}

.tac {
	text-align: center;
}

.graybar {
	background: #efefef;
	text-align: center;

	h3 {
		margin: 10px 0;
		font-style: italic;
	}
}

form {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
    color: #333;
}

[ng-click] {
	cursor: pointer;
}

@import "_button.scss";
@import "_home.scss";
@import "_login.scss";
@import "_signup.scss";
@import "_profile.scss";
