<div class="container-fluid sign-up-page">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-sm-12 tac header">
					<h2>Review your information and make adjustments</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 jug-cont tac">
					<h3>Interest Rate</h3>

					<div class="jug yellow">
						<span class="num">{{interest}}%</span>
					</div>
				</div>

				<div class="col-sm-6 jug-cont tac">
					<h3>You could be saving</h3>

					<div class="jug green">
						<span class="num">${{savings}}</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 tac">
					<h3>Add more info to see your changes</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<form name="signupForm" class="clearfix" ng-submit="" novalidate>
					    <table>
					    	<tr>
					    		<td>Debt</td>
					    		<td>Balance</td>
					    		<td>Interest Rate</td>
					    		<td>Monthly Payment</td>
					    		<td></td>
					    	</tr>

					    	<tr ng-repeat="row in infoRows">
					    		<td><input type="num" ng-model="row.name"></td>
					    		<td><input type="num" ng-model="row.balance"></td>
					    		<td><input type="num" ng-model="row.rate"></td>
					    		<td><input type="num" ng-model="row.payment"></td>
					    		<td ng-click="removeRow($index)">&times;</td>
					    	</tr>

					    	<tr>
					    		<td></td>
					    		<td><input type="text" ng-model="totals.balance" readonly></td>
					    		<td><input type="text" ng-model="totals.rate" readonly></td>
					    		<td><input type="text" ng-model="totals.payment" readonly></td>
					    		<td></td>
					    	</tr>
					    </table>
						
					    <div class="round-btn pull-right small" ng-click="addRow()">Add Row</div>
					</form>

					<div class="tac">
						<a href="" class="round-btn">Next Step</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div id="signup-container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h1>Signup</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="step-container">
					<div ng-include="stepTemplates[currentStep]" class="templates-container"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="clearfix">
					<div class="pull-left" ng-click="moveStep(-1)">Prev</div>
					<div class="pull-left" ng-click="moveStep(1)">Next</div>
				</div>

				<ul class="steps-nav">
					<li ng-repeat="steps in stepTemplates track by $index" ng-click="moveToStep($index)" ng-class="{ 'current-step': $index === currentStep}">
						{{$index + 1}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div> -->