<div id="homepage">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<form name="homeForm" class="bottom-bordered bordered" novalidate>
					<fieldset>
				    	<input name="credit" placeholder="Estimate your credit score" type="text" ng-model="info.credit" autofocus required>
				    </fieldset>

					<fieldset>
				    	<input name="employed" placeholder="Are you employed?" type="text" ng-model="info.employed" required>
				    </fieldset>

				    <fieldset>
				    	<input name="amount" placeholder="How much do you need?" type="text" ng-model="info.amount" required>
				    </fieldset>

				    <fieldset>
				    	<input name="rate" placeholder="Estimate your average interest rate" type="text" ng-model="info.rate" required>
				    </fieldset>
				</form>

				<div class="submit">
			    	<button class="round-btn" ng-click="attemptNewAccountCreation()">Continue</button>
			    </div>
			</div>
		</div>

		<div class="row login-options">
			<div class="col-sm-12">
				<div class="spacer">or</div>
				<a href="/#/login/" class="round-btn">Sign in</a>
			</div>

			<div class="col-sm-12 slogan">
				<p>When life gives you high interest loans, use</p>
				<img src="/dist/images/lemonaid.png" alt="Lemonaid Logo" class="img-responsive">
			</div>
		</div>
	</div>
</div>
