<div id="homepage">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<form name="homeForm" ng-submit="" class="bottom-bordered bordered" novalidate>
					<fieldset>
				    	<input name="email" placeholder="Email Address" type="text" ng-model="info.email" autofocus required>
				    </fieldset>

					<fieldset>
				    	<input name="password" placeholder="Password" type="password" ng-model="info.password" required>
				    </fieldset>

				    <fieldset>
				    	<input name="amount" placeholder="How much do you need?" type="text" ng-model="info.amount" required>
				    </fieldset>

				    <fieldset>
				    	<input name="score" placeholder="Estimate your credit score" type="text" ng-model="info.score" required>
				    </fieldset>
				</form>

				<div class="submit">
			    	<a href="/#/creditinfo/" class="round-btn">Continue</a>
			    </div>
			</div>
		</div>

		<div class="row login-options">
			<div class="col-sm-12">
				<button class="round-btn facebook">Log in with Facebook</button>
				<div class="spacer">or</div>
				<button class="round-btn">Sign in</button>
			</div>

			<div class="col-sm-12 slogan">
				<p>When life gives you high interest loans, use</p>
				<img src="/dist/images/lemonaid.png" alt="Lemonaid Logo" class="img-responsive">
			</div>
		</div>
	</div>
</div>
