<div class="container-fluid sign-up-page">
	<div class="row">
		<div class="col-sm-12">
			<h1>Income Debt</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<form name="loginForm" class="bottom-bordered bordered" novalidate>
				<fieldset>
					<input placeholder="Monthly Income" type="text" ng-model="incomedebt.form.income">
				</fieldset>

			    <!-- <fieldset>
			    	<input placeholder="Debt Servicing" type="text" ng-model="incomedebt.form.debtservicing">
			    </fieldset> -->

			    <fieldset>
			    	<input placeholder="Groceries" type="text" ng-model="incomedebt.form.groceries">
			    </fieldset>

			    <!-- <fieldset>
			    	<input placeholder="Other Food" type="text" ng-model="incomedebt.form.otherfood">
			    </fieldset> -->

			    <fieldset>
			    	<input placeholder="Rent / Mortgage" type="text" ng-model="incomedebt.form.mortgage">
			    </fieldset>

			    <!-- <fieldset>
			    	<input placeholder="Maintenance Fees" type="text" ng-model="incomedebt.form.maintenance">
			    </fieldset> -->

			    <fieldset>
			    	<input placeholder="Heating, electricity, gas" type="text" ng-model="incomedebt.form.heating">
			    </fieldset>

			    <fieldset>
			    	<input placeholder="Internet / Cable" type="text" ng-model="incomedebt.form.internet">
			    </fieldset>

			    <fieldset>
			    	<input placeholder="Transportation" type="text" ng-model="incomedebt.form.transportation">
			    </fieldset>

			    <fieldset>
			    	<input placeholder="Insurance" type="text" ng-model="incomedebt.form.insurance">
			    </fieldset>

			    <!-- <fieldset>
			    	<input placeholder="Personal Services" type="text" ng-model="incomedebt.form.services">
			    </fieldset> -->

			    <fieldset>
			    	<input placeholder="Entertainment" type="text" ng-model="incomedebt.form.entertainment">
			    </fieldset>

			    <!-- <fieldset>
			    	<input placeholder="Healthcare" type="text" ng-model="incomedebt.form.healthcare">
			    </fieldset>

			    <fieldset>
			    	<input placeholder="Gifts" type="text" ng-model="incomedebt.form.gifts">
			    </fieldset> -->

				<!-- <fieldset>
					<input placeholder="Investments" type="text" ng-model="incomedebt.form.investments">
				</fieldset>
			
			    <fieldset>
			    	<input placeholder="Savings" type="text" ng-model="incomedebt.form.savings">
			    </fieldset> -->

		        <fieldset>
		        	<input placeholder="Clothing" type="text" ng-model="incomedebt.form.clothing">
		        </fieldset>

		        <!-- <fieldset>
		        	<input placeholder="Furniture" type="text" ng-model="incomedebt.form.furniture">
		        </fieldset> -->

		        <fieldset>
		        	<input placeholder="Electronics" type="text" ng-model="incomedebt.form.electronics">
		        </fieldset>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<button class="round-btn" ng-click="incomedebt.submit()">Next Step</button>
		</div>
	</div>
</div>