<div class="container sign-up-page">
	<div class="row">
        <div class="col-sm-push-1 col-sm-10">
            <h1>Your personal quote</h1>
		</div>
	</div>

    <br>

	<div class="row">
        <div class="col-sm-push-1 col-sm-10">
			<div class="row">
				<div class="col-sm-6 jug-cont tac">
					<h3>Interest Rate</h3>

					<div class="jug yellow">
						<span class="num">{{instantoffer.interest}}%</span>
					</div>
				</div>

				<div class="col-sm-6 jug-cont tac">
					<h3>You could be saving</h3>

					<div class="jug green">
						<span class="num">${{instantoffer.savings}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

    <br>

	<div class="row">
        <div class="col-sm-push-1 col-sm-10">
			<a href="/#/megainfo/" class="round-btn pull-right">Next Step</a>
		</div>
	</div>
</div>
