<div class="row">
	<div class="col-sm-12">
		<form name="loginForm" ng-submit="attemptLogin()" novalidate>
			<h1>Login</h1>

		    <fieldset>
		    	<input name="email" placeholder="Email Address" type="text" ng-model="credentials.email" autofocus required>
		    </fieldset>

		    <fieldset>
		    	<input name="password" placeholder="Password" type="password" ng-model="credentials.password" required>
		    </fieldset>

		    <fieldset>
		    	<div class="pull-left error-text" ng-if="loginError">
			    	*{{ loginError }}
			    </div>
		    	<input class="" type="submit" value="Login">
		    </fieldset>
		</form>
	</div>
</div>