<div class="container-fluid profile-list-page">
	<div class="row">
		<div class="col-sm-12 tac">
			<h1 class="shadow">Browse Borrowers</h1>
		</div>
	</div>

	<div class="row screen">
		<div class="col-sm-12">
			<div class="col-sm-4 person-profile" ng-repeat="profile in profiles track by profile.id" ng-click="goToProfile(profile.id)">
				<div class="img-container">
					<img class="img-responsive" ng-src="{{profile.image}}">
				</div>
				
				<h1 class="num">{{profile.percent}}%</h1>
				<h1>{{profile.name}}</h1>
				<h4><i class="fa fa-map-marker"></i>{{profile.location}}</h4>
			</div>
		</div>
	</div>
</div>