<div class="container-fluid profile-view-page">
	<div class="row user-info">
		<div class="col-sm-3 inline-centered">
			<img src="/dist/images/face.png" alt="" class="img-responsive">
		</div><!-- 

		 --><div class="col-sm-9 inline-centered bordered">
			<h1>{{user.name}}</h1>
			<h3>Currently {{user.employed ? 'Employed' : 'Unemployed'}}</h3>
			<h3><i class="fa fa-map-marker"></i>{{user.location}}</h3>
		</div>
	</div>

	<div class="row loan-info">
		<div class="col-sm-3 inline-centered">
			<img src="/dist/images/lemon_fill.png" alt="" class="img-responsive">
		</div><!-- 

		 --><div class="col-sm-9 inline-centered bordered">
			<h2><span class="bigger">{{amountpercent}}%</span> <span class="space"></span> ${{user.currentamount}} out of ${{user.totalamount}}</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="endorser" ng-repeat="endorser in endorserList track by endorser.id" ng-init="endorser.ishovering = false" ng-mouseenter="endorser.ishovering = true" ng-mouseleave="endorser.ishovering = false">
				<div class="img-container" ng-class="{ 'is-visible': endorser.ishovering }">
					<img class="img-responsive" ng-src="{{endorser.img}}">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 tac">
			<button class="round-btn">Endorse this person</button>
		</div>
	</div>
</div>