<div class="container">
	<div class="row">
			<h1>Verify</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-push-1 col-sm-10">
			<p>To get <strong class="jug"><span>{{verify.rate}}%</span></strong> and save <strong class="jug"><span>${{verify.savings}}</span></strong> a month.</p>
			<p>Please provide extra verification so we can properly process your information.</p>
            <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="loading-overlay" ng-if="loading">
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>
		
		<div class="col-sm-push-1 col-sm-10">
            <button class="round-btn pull-right margin-bottom" ng-click="verify.submit()">View your Profile</button>
		</div>

	</div>
</div>
