<h2>Main Info</h2>

<form>
	<fieldset>
		<input name="firstname" type="text" placeholder="First Name" ng-model="signupData.info.firstname">
	</fieldset>

	<fieldset>
		<input name="lastname" type="text" placeholder="Last Name" ng-model="signupData.info.lastname">
	</fieldset>

	<fieldset>
		<input name="lastname" type="text" placeholder="Age" ng-model="signupData.info.age">
	</fieldset>

	<fieldset>
		<input name="birthdate" type="text" placeholder="Birthdate" ng-model="signupData.info.birthdate">
	</fieldset>

	<fieldset>
		<input name="address" type="text" placeholder="Address" ng-model="signupData.info.address">
	</fieldset>
</form>